body {
  font-family: Poppins;
  padding: 0;
  margin: 0 auto;
  background-color: rgb(49, 23, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
}

.container {
  background-color: rgb(232, 232, 232);
  box-shadow: -4px 10px 20px 0px rgba(64, 64, 64, 0.75);
  width: 800px;
  max-width: 80%;
  border-radius: 3px;
  padding: 10px;
}

#questionbox {
  font-weight: 600;
  text-align: center;
  padding-top: 1%;
  font-family: Poppins;
}

.btn-grd {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  padding: 2% 0;
}

.btn {
  font-family: Poppins;
  height: 40px;
  background-color: rgb(32, 32, 32);
  color: rgb(220, 220, 220);
  border-radius: 8px;
}

.btn:hover {
  border-color: rgb(43, 149, 114);
}

.start-btn,
.next-btn {
  font-family: Poppins;
  font-size: 20px;
  height: 50px;
  width: 100px;
  max-width: 100px;
  background-color: rgb(32, 32, 32);
  color: rgb(220, 220, 220);
  border-radius: 8px;
}

.start-btn:hover,
.next-btn:hover {
  border-color: rgb(96, 44, 99);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

h1 {
  font-size: 20px;
}
